@media (max-width: 1280px) {
  .mainWrapper {
    width: 860px;
  }
}

@media (max-width: 1024px) {
  .mainWrapper {
    width: 600px;
  }
}

@media (max-width: 768px) {

  .mainWrapper {
    width: 580px;
  }
}


@media (max-width: 640px) {
  .mainWrapper {
    width: 420px;
  }
	.listItems {
		justify-content: center !important;
	}
}

@media (max-width: 480px) {
	.mainWrapper {
		width: 300px;
	}
}
